<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Add Category</title>
</head>
<body>
<a href="/">Back</a><br><br>

<form method="post" action="/admin/insert_category/">

    {% csrf_token %}

    <label for="categoryName">Category Name:</label>

    <input type="text" id="categoryName" name="categoryName"><br><br>

    <label for="categoryDescription">Category Description:</label>

    <textarea id="categoryDescription" name="categoryDescription"></textarea><br><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>