<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SELECT OPTION</title>
</head>
<body>
<CENTER>
<table style="width:500px; font-size: 50px" border="10px">
    <tr>
        <th>Select Option</th>
</tr>
    <tr>
        <td><a href="/register">Sing-up</a></td></tr>
    <tr>
        <td><a href="/login">Sing-in</a></td></tr>
    <tr>
        <td><a href="/table">View Database</a></td></tr>
    <tr>
        <td><a href="/table">Delete Databse</a></td>
    </tr>
    <tr>
        <td><a href="/table">Edit Database</a></td>
    </tr>


</table>
</CENTER>
</body>
</html>