<!DOCTYPE html>
    <head>
        <H1 align = "center"> CS 527 PROJECT 1 </H1>

    </head>
    <body>
        <form method = 'POST' action ="http://127.0.0.1:4000/index">
             <p style = "text-align:center;">
                <input type="radio" name="options" id='my_mysql' value ='my_mysql' checked='checked'>MySQL &emsp;&emsp;&emsp;&emsp;
                <input type="radio" name="options" id ='my_redshift' value ='my_redshift'>Redshift<br><br>
            </p>
                <label for="query">Query:</label>
                <div><textarea name="my_query" rows="25" cols="100"></textarea></div>
                <br>
                <input type="submit"> </input>

        </form>

    </body>
</html>