<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="http://127.0.0.1:5678/setsession" method="post">
    <CENTER>
        <h1 style="font-size:40px"><b><u> Sign-Up </u></b></h1>
        <table border="1px">
            <tr>
                <td style="font-size:30px">First Name</td>
                <td><input type="text" name="fn" required="required"></td>
            </tr>
            <tr>
                <td style="font-size:30px">Last Name</td>
                <td><input type="text" name="ln" required="required"></td>
            </tr>
            <tr>
                <td style="font-size:30px">User Name</td>
                <td><input type="text" name="un" required="required"></td>
            </tr>
            <tr>
                <td style="font-size:30px">Password</td>
                <td><input type="text" name="pw" required="required"></td>
            </tr>

            <tr style="font-size:30px">
                <td colspan="2">
                    <center>
                         <input type="submit" value="submit">
                    </center>
                </td>
            </tr>

        </table>
    </CENTER>
    </form>
</body>
</html>